# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
venv/
.env


# Terraform
terraform.tfstate
terraform.tfstate.backup
.terraform/
*.tfvars
*.tfstate.*
*.tfplan

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/
